body {
  display: flex;
  background-color: pink;
  gap: 10px;
}
  
.container-flex-kiri,
.container-flex-kanan {
  display: flex;
  gap: 20px;
}
  
.container-flex-kanan {
  flex-grow: 1;
  flex-direction: column;
  background-color: pink;
  grid-area: 10px; 
}
  
header, 
article, 
aside, 
footer {
  border: 1px solid black;
}
  
aside {
  flex-grow: 2;
  height: 100vh;
  background-color: plum;
  grid-area: 10px;
}
  
header {
  height: 70px;
  background-color:aquamarine;
  flex-grow: 1;
}
  
article {
  flex-grow: 2;
  background-color: rgb(247, 175, 175);
}
  

footer {
  height: 70px;
  flex-grow: 1;
  background-color: aquamarine;
  gap: 10px;
}
  
.wrapper-article-aside {
  display: flex;
  flex-grow: 4;
  gap: 10px;
}

.a {
  width: 150px;
  height: 150px;
  padding-top: 500px;
  padding-right: 170px;
  float: right;
}

.b{
  width: 150px;
  height: 150px;
  padding-top: 500px;
  padding-right: 170px;
  float: right;
}
.c{
  width: 150px;
  height: 150px;
  padding-top: 500px;
  padding-right: 170px;
  float: right;
}